<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = '<%= node['zabbix']['mysql']['server_type'] %>';
$DB['SERVER']   = '<%= node['zabbix']['server']['conf']['DBHost'] %>';
$DB['PORT']     = '<%= node['zabbix']['mysql']['port'] %>';
$DB['DATABASE'] = '<%= node['zabbix']['server']['conf']['DBName'] %>';
$DB['USER']     = '<%= node['zabbix']['mysql']['user'] %>';
$DB['PASSWORD'] = '<%= node['zabbix']['mysql']['password'] %>';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '<%= node['zabbix']['php']['zabbix_listen'] %>';
$ZBX_SERVER_PORT = '<%= node['zabbix']['server']['listen_port'] %>';
$ZBX_SERVER_NAME = '<%= node['zabbix']['php']['server_name'] %>';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>